.connections-main {
  display: inline-grid;
  grid-template-columns: auto auto;
  gap: 10px;
  justify-content: center; /* Horizontally center the grid */
  align-items: center; /* Vertically center the grid */
  padding: 10px;
  text-align: center;
  border: 1px solid #bbbbbb;
  background-color: white;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  .grid-child {
    border: 1px solid #bbbbbb;
    width: 250px;
    height: 330px;
    margin: 10px;
    padding: 10px;
    display: flex;

    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    position: relative;
    cursor: pointer;

    img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      object-fit: cover;
      margin-top: 20px;
    }

    .name {
      font-family: system-ui;
      font-size: 16px;
      font-weight: 600;
    }

    .headline {
      margin-top: -15px;
      font-family: system-ui;
      font-size: 15px;
      font-weight: 400;
    }

    button {
      width: 90%;
      height: 40px;
      position: absolute;

      bottom: 10px;
      cursor: pointer;
      background-color: white;
      color: #004284;
      border: 1px solid #004284;
      font-size: 16px;
      font-family: system-ui;
      border-radius: 30px;
      font-weight: 600;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }

    button:hover {
      border: 2px solid #004284;
      background-color: #bbdefb;
    }
  }
}
